/*padding : 0
margin : 0
box-sixing:border-box;*/
h1 {color: floralwhite;
     background-color:rgb(180, 173, 173);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center
}
.portaini {  background-color: rgb(247, 185, 185);
            padding-left: 150px;
            overflow: hidden
    }
nav ul li {text-decoration: none;list-style-type: none;
            color: floralwhite;
            display: inline-block;
            padding: 0 40px;
            color: lightpink;
            font-family: 'Comfortaa', cursive;
}
nav ul  {  background-color: grey; color: lightcoral;
            font-family: 'Comfortaa', cursive; 

}
body{background: rgb(210,228,236);
    background: linear-gradient(239deg, rgba(210,228,236,1) 35%, rgba(233,119,171,1) 70%, rgba(97,105,107,1) 100%);

font-family: 'Yellowtail', cursive;
}

.cont_port {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    align-content: center;

}

.c1 {display: inline-block;
 
    background-color: rgb(180, 173, 173); 
   
    width: 300px;
    height: 300px;
    font-size: 2rem;
    border-style: groove;
   
    text-align: center;   }

.foot{
    height: 100%;
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around; 
   align-items: center;
 }     
.pie{
    margin-top: 200px;
    width:300px;
    height: 100px;
    font-family: 'Comfortaa', cursive;
    background-color: rgb(247, 185, 185); 

}

.parr{ font-family: 'Lobster', cursive;

}
/*!---paginaservicios--- */


.sermaq{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px; 
    border-style: groove;
}

.qs{ 
    width: 100%;
   
    display: grid;
    grid-template-rows: 1fr,1fr;
    grid-template-columns: 1fr,1fr;
    grid-template-areas:   
    "logo parraf"
    "fotop video ";
}
@media screen and (max-width: 480px) {
    .qs{  
        grid-template-rows: 1fr,1fr,1fr,1fr;
        grid-template-columns: 1fr,;
        grid-template-areas:   
        "logo"
        "parraf"
        "fotop"
        "video";
    
}

.p_qs.leyenda{
    width: 300px;
}
    
}

.img_log{
    grid-area: logo;
   
   
}

.p_qs{
    grid-area: parraf;
}
.vid_qs{
    grid-area: video;
  justify-content: center;
   
   }
.prof_cosm{
    grid-area: fotop;
 
}

.main.form{
    background-image: url(../images/20210808_213029_0000.png);
    background-repeat: no-repeat;
    background-size: cover;
}
